.submitnav {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 20px 30px 15px grey;
}

.submitnav-content {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.submitnav-button {
  width: 100%;
  height: 40px;
  background-color: #009b86;
  color: #fff;
  border: none;
}

.submitnav-button:hover {
  background-color: #34ac9c;
  color: #cccccc;
}

@media only screen and (min-width: 520px) {
  .submitnav-button {
    width: 180px;
  }
  .submitnav-content {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .submitnav-content {
    text-align: right;
  }
}
