@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #0d2436;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
