.category {
  margin-bottom: 40px;
}

.category-title {
  background: radial-gradient(
    circle at 0% -25%,
    #3e13a5 0%,
    #6247a0 0,
    #da2c94 42%,
    #ff8947 110%
  );
  padding: 10px;
  margin-bottom: 20px;
}

.category-movies {
  display: grid;
  grid-gap: 20px 0;
  padding: 0 20px;
}

@media only screen and (min-width: 520px) {
  .category-movies {
    grid-gap: 20px 20px;
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 768px) {
  .category-movies {
    grid-template-columns: auto auto auto;
  }
}
