.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.modal {
  position: fixed;
  background-color: #fff;
  color: #001;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button--close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal-title {
  text-align: center;
}

#modal-table {
  border-collapse: collapse;
  width: calc(100% - 40px);
  margin: 20px;
}

#modal-table td,
#modal-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#modal-table tr:hover {
  background-color: #ddd;
}

#modal-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009b86;
  color: white;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 600px;
    height: 460px;
    padding: 20px;
  }
}
