.nominee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1ebeb;
  height: 340px;
  width: 100%;
  text-align: center;
}

.nominee:hover {
  background-color: #34ac9c;
  color: #cccccc;
}

.nominee-selected {
  background-color: #34ac9c;
  color: #cccccc;
}

.nominee-name {
  width: 180px;
  margin-bottom: 20px;
}

.nominee-photo {
  height: 180px;
  width: 180px;
  margin-bottom: 20px;
}

.nominee-button {
  height: 40px;
  width: 180px;
}

@media only screen and (min-width: 768px) {
  .nominee {
    height: 340px;
    min-width: 225px;
  }
  .nominee-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
